@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 100px rgba(0, 0, 0, 0) inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

html {
  font-family: "Onest Variable", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  background-color: #0e0b25;
}

::selection {
  background: #6834c6;
  color: #ffffff;
}

.hero-image {
  mask-image: linear-gradient(to bottom, black 60%, transparent);
}
